duckdb>=1.0.0
feedparser>=6.0.0
beautifulsoup4>=4.12.0
requests>=2.31.0
trafilatura>=1.6.0
lxml>=5.0.0
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0-py3-none-any.whl
streamlit
wordcloud
matplotlib
pandas
plotly
stanza